.array-container {
  position: absolute;
  left: 400px;
  top: 90px;
}

.array-bar {
  width: 20px;
  background-color: blue;
  display: inline-flex;
  margin: 0 4px;
}

.buttons button {
  width: 150px;
  height: 75px;
  top: 10px;
}